:root {
  --primary-color: rgb(33, 37, 41);
  --primary-color-faded: rgba(33, 37, 41, 0.65);
  --secondary-color: rgb(1, 121, 203);
  --secondary-color-faded: rgba(1, 121, 203, 0.5);
}

/* NavBar*/
@media (max-width: 414px) {
  .nav-header {
    display: none;
  }
  nav li a {
    font-weight: bold;
  }
  footer a h2 {
    font-size: 16px;
  }
}

@media (max-width: 572px) {
  div.tech-stack {
    max-width: 350px;
  }
}

@media (max-width: 1279px) {
  svg {
    display: none;
  }
  .home-project-link,
  .scroll-container {
    position: relative;
    top: -50px;
  }
}

.nav-header {
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-pane {
  background-color: #000000;
  padding: 20px 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0px 10px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover,
footer p a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

.container-fluid {
  font-family: "Chakra Petch", sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: radial-gradient(#001524 15%, transparent 16%),
    linear-gradient(45deg, transparent 49%, #001524 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #001524 49% 51%, transparent 51%);
  background-size: 6em 6em;
  background-color: #000000;
  opacity: 1;
}

h1 {
  margin: 0px 5px;
  font-size: 62px;
}

h2 {
  font-size: 36px;
}

h3 {
  margin: 0px 5px;
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

/* Home Page */
.header {
  margin: 125px 0px 35px 0px;
}

.tech-stack {
  background-color: var(--secondary-color-faded);
  margin: 0 auto;
  max-width: 750px;
  padding: 35px;
  border-radius: 5px;
}

.tech-stack img {
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 5px 5px;
}

.hp-button {
  display: flex;
  justify-content: center;
}

.hp-button button {
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.hp-button button:hover {
  background-color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.home-project-link {
  margin-top: 120px;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 25px 70px 25px 20px;
  background: var(--secondary-color-faded);
  max-width: 750px;
  max-height: 350px;
  border-radius: 5px;
  margin: 0 auto;
}

.gridscroll {
  display: inline-block;
}

.gridscroll img {
  margin-right: 22px;
  max-width: 50%;
  border-radius: 5px;
}

.skills-container {
  justify-content: center;
}

.skills-container img {
  max-width: 50px;
}

.skills-box {
  max-width: 600px;
}

.home-project-link h3 a {
  color: white;
  text-decoration: none;
}

/* About Page */
.about-section {
  margin-top: 25px;
}

.about-section h1 {
  margin-top: 75px;
}

.about-paragraph {
  max-width: 750px;
  margin: 5px 0px;
  padding: 25px 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-faded);
}

.about-button {
  width: 200px;
  margin: 5px 15px;
}

.about-list {
  list-style-type: none;
}

img.rounded-corners {
  margin: 5px 0px;
  border-radius: 5px;
  max-width: 250px;
}

/* Project Page*/
.project-header {
  margin-top: 100px;
}

.project-desc img {
  margin-top: 5px;
  max-width: 250px;
  border-radius: 5px;
}

.project-desc img:hover {
  scale: 1.1;
  border: 2px solid var(--secondary-color-faded);
  transition: 150ms all ease-in-out;
}

.project-desc p {
  font-size: 14px;
  line-height: 10px;
  color: var(--secondary-color);
}

/* Contact */
.contact-info {
  font-size: 20px;
}

.contact-links {
  background-color: var(--primary-color-faded);
  padding: 25px 0px 15px 0px;
  max-width: 350px;
  border-radius: 5px;
  margin: 0 auto;
}

.contact-links a {
  font-size: 16px;
}

/* Footer */

footer {
  margin: 0 auto;
  max-width: 750px;
  border-radius: 5px;
}

.contact-icons a {
  color: white;
  margin: 0px 10px;
  font-size: 28px;
}

.contact-icons a:hover {
  color: var(--secondary-color);
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  font-size: 16px;
}

.signature {
  font-size: 12px;
}

.work-inquiry {
  background-color: var(--secondary-color-faded);
  margin: 0 auto;
  max-width: 750px;
  padding: 15px;
  border-radius: 5px;
}

.proj-footer {
  margin-top: 75px;
}

/* Animation */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
