:root {
  --primary-color: rgb(33, 37, 41);
  --primary-color-faded: rgba(33, 37, 41, 0.65);
  --primary-font: Georgia, "Times New Roman", Times, serif;
}

.container-fluid {
  font-family: "Chakra Petch", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: white;
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(var(--primary-color) 1.4px, #000000 1.4px);
  background-size: 24px 24px;
}

.header,
.tech-stack {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color-faded);
}

@media (max-width: 414px) {
  h1,
  h3 {
    scale: 0.85;
    line-height: 1em;
  }
  img.rounded-corners {
    scale: 0.7;
  }
}

@media (max-width: 280px) {
  h1,
  h3 {
    scale: 0.75;
    line-height: 1em;
  }
  img.rounded-corners {
    scale: 0.6;
  }
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

.hp-button {
  display: flex;
  justify-content: center;
}

.hp-button button {
  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.hp-button button:hover {
  background-color: var(--primary-color);
}

.projects-homepage {
  margin: 0 auto;
}

.project-grid-home {
  margin: 0px auto;
  padding: 2px;
  background-color: var(--primary-color);
  border: black solid 3px;
  border-radius: 20px;
}

.project-grid-home img {
  border-radius: 15px;
}

.project-grid-home:hover {
  border-color: white;
  transition: 150ms ease-in-out;
}

.skills-container {
  justify-content: center;
}

.skills-container img {
  max-width: 50px;
}

.skills-box {
  max-width: 600px;
}

.home-project-link a {
  color: white;
  text-decoration: none;
}

.about-section {
  margin-top: 20px;
}

.about-paragraph {
  max-width: 75%;
  margin: 0 auto;
}

.about-button {
  width: 200px;
  margin: 0px 15px;
}

img.rounded-corners {
  border-radius: 5px;
  max-width: 250px;
}
